html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

// podmínky

$primarni-barva: blue;
$sekundarni-barva: aqua;
$background-barva: rgb(195, 247, 247);
$hoover-barva: pink;
$footer-barva: rgb(130, 247, 247);
$hlavni-pismo: Dosis, sans-serif;
$velikost-pisma: 16px;
$spacer: 20px;

// -------------------------------------

body {
    margin: 0;
    font-family: $hlavni-pismo;
	background-color: rgba(186, 219, 250, 0.993);
}

//moje-šablona

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgb(237, 223, 250),rgb(76, 213, 247));
}

//hlavička
.header__zahlavi {
    display: flex;
    justify-content: space-between;
}

.header__img-logo {
	width: 100px;
	height: 100px;
}

.header__contact--nadpis {
    text-align: right;
    padding-right: 30px;
    font-weight: bold;
    font-size: $velikost-pisma;
    color: $primarni-barva;
}

.ikony {
    width: 40px;
}

.header__contact--list {
    display: flex;
    justify-content: right;
    list-style: none;
    margin: 0;
    padding: 3px;
}

.header__item {
    border-bottom: 1px dashed black;
    display: block;
    font-size: 15px;
}

.header__link {
    display: block;
    padding: 10px;
    text-decoration: none;
	/*justify-content: right;
	align-items: flex-end;
    list-style: none;
    text-decoration: none;
    line-height: 1;*/
}

.header__link:hover {
    background-color: $hoover-barva;
}

.header__inner {
    background-image: url(/image/Ema\ -\ vsichni1.jpg);
    min-height: 250px;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 30px;
    position: relative;
}

.header__name {
    text-align: right;
    padding: 200px 20px 0 0;
    font-size: $velikost-pisma * 1,5;
    font-weight: bold;
}

h1, h2 {
	color: $primarni-barva;
}

// *** FOOTER (patička)
footer {
    background-color: $footer-barva;
    padding: 0;
    margin: 0;
    border-top: 1px dashed black;
}

.footer__prohlaseni {
    font-size: 15px;
    padding: 5px 20px;
    text-align: center;
    background-color: $footer-barva;
    border-bottom: 1px dashed black;
}

.footer__napis-prohlaseni {
    padding-bottom: 0;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: space-evenly;
    background-color: $footer-barva;
    color: black;
    font-size: 15px;
}
.footer__nadpis {
    font-size: $velikost-pisma;
}

.footer__photographers {
    padding: 0;
    list-style: none;
    justify-content: left;
}

.footer__copyright {
    font-size: $velikost-pisma;
    font-weight: bold;
}

.footer__icon {
    color: black;
    font-weight: bold;
}

// *** FOTOGALERIE ***
h3 {
	margin-top: 10px;
}

.glide__slide img {
  width: 100%;
  }

.popis-fotky {
  background-color: rgb(245, 218, 223);
  padding: 10px;
  min-height: 250px;
}

.sloupec {
  width: 500px;
  border: 5px solid black;
}

// pro mobil - hamburger menu
// @media screen and (max-width: 799px) { }

    .menu__checkbox {   //čtvereček checkboxu se schová
        /*position: absolute;
        left: -9999px; */
        display: none;
    }

	.menu__list {
		display: none;  // menu bude schované 
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: $sekundarni-barva;
	}

	.menu__item {
		border-bottom: 1px dashed black;
	}

	.menu__link {
		display: block;
		padding: 10px;
		text-decoration: none;
		color: $primarni-barva;
	}
	.menu__link:hover {
		background-color: $hoover-barva;
	}

    .menu__checkbox:checked ~ .menu__list {
        display: block;
    }    

 	.menu__toggler {
		cursor: pointer; 
	}   

// pro tablet a více

@media screen and (min-width: 800px) {
    // .menu {background-color: aquamarine;}
	
	// .menu__checkbox { position: absolute}
    .menu__toggler { 
        display: none; 
    }

    .menu__list {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 3px;
    }

    .menu__link {
        display: block;
        padding: 10px 20px;
        color: $primarni-barva;
        text-decoration: none;
        font-weight: bolder;
    }
	.menu__item {
		border-right: 1px dashed black;
        justify-content: center;
	}
}