html {
    box-sizing: border-box;
  }
  
  *, ::before, ::after {
    box-sizing: inherit;
  }

  :root {
    /*barvy*/
    --c-primary: rgb(0, 132, 255);
    --c-secondary: rgb(0, 255, 255);
    --c-button: rgb(237, 201, 248);
    --c-button: gray;
    /*písmo*/
    --font-base: 'Montsserrat', sans-serif;
    --font-special: "Open sans", sans-serif; 
    /*standartní rozestup, odsazení*/
    --spacer: 30px;

  }

  /*šablona*/ 
.wrapper {
    font-family: var(--font-special);
}

.header__name {
    font-family: var(--font-special);
    font-size: var(--spacer);
    position: absolute;
}

.header__img-logo {
    width: 50px;
    height: 50px;
}

.menu__list {
    display: block;
    position: fixed;
    list-style: none;
}

:hover .menu__list {
    background-color: var(--c-secondary);
}

.header__image {
    background-image: url(image/Ema\ -\ vsichni1.jpg);
    width: 100%;
    position: relative;
}

.footer {
    background-color: var(--c-secondary);
    font-style: italic;
    color: black;
    font-size: 15px;
}