<nav class="menu">
    <!-- hamburger menu, které chci skrýt -->
    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
    <label for="menu-checkbox" class="menu__toggler"><img  class="ikony"  src="/image/icons8-menu-64.png" alt="menu"></label> <!--☰ Menu-->

    <ul class="menu__list">
        <li class="menu__item"><a class="menu__link" href="/">Dennyho metoda</a></li>
        <li class="menu__item"><a class="menu__link" href="/historie-dm/">Historie Dennyho metody</a></li>
        <li class="menu__item"><a class="menu__link" href="/komu-pomahame/">Komu pomáháme</a></li>
        <li class="menu__item"><a class="menu__link" href="/nas-tym/">Náš tým</a></li>
        <li class="menu__item"><a class="menu__link" href="/videa/">Videa</a></li>
        <li class="menu__item"><a class="menu__link" href="/fotogalerie/">Fotogalerie</a></li>
        <li class="menu__item"><a class="menu__link" href="/muzete-nam-pomoci/">Můžete nám pomoci</a></li>
        <li class="menu__item"><a class="menu__link" href="/napiste-nam/">Napište nám</a></li>
    </ul>
</nav>